
<launch>

  <!--   0.094cm   <group ns="world_target">
      <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0.10 0 0 0 0 0 1 /world /target  100" />
  </group> -->

  <group ns="world_target">
  <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0.20 0 0 0 0 0 1 /world /target  100" />
  </group>


  <!-- -0.1508185089794148 -0.40295845519500306 0.5051546940004248  3.1415 1.57 0 -->
  
  <group ns="target_camera">
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="link1_broadcaster"
    args="0.6619738 0.09514373 0.5574063  0.3224357798072131 -0.4299841282442096 -0.5780675015558837  /target /camera_link" />
  </group>


  <!--
  <group ns="world_yumi">
      <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0 /world /yumi_base_link 100" />
  </group>
  <group ns="target_camera">
    <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0.39934058 0.22507751 0.82788421 0.1555350221245283, -0.41446163699134914, -0.49527676243670665 /target /camera_link  100" />
  </group>-->



</launch>
