
<launch>


  <!--   0.094cm  -->
  <group ns="world_target">
      <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0 /world /target 100" />
  </group>
  <!-- x=0.5 cm z=0.094cm 0.628 ->pi/5 /camera_link  /camera_depth_optical_frame   -2.49020898  0.00974261  1.60954497  3.14 0.777 0 zyx y=  3.2 1.0 -0.00974261  -->
  <group ns="cam_world">
    <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0.58327832 0.07324342 0.54483961 0 0 0  /target /camera_link 100" />
  </group>
</launch>
