
<launch>
    <!--
  <group ns="world_target">
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.5 1.57 1.57 0 /world /camera_link" />
  </group>-->

  <!-- -0.1508185089794148 -0.40295845519500306 0.5051546940004248  3.1415 1.57 0 -->
  <group ns="world_target">
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args=".2 0 0 0 0 0  /world /target" />
  </group>

  <group ns="world_yumi">
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 /world /yumi_base_link" />
  </group>

  <group ns="target_camera">
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0.29925099 0.1265527 0.79296992 3.1415 1.57 0  /target /camera_link" />
  </group>


</launch>
